<main>


  <section class="section">
    <div class="px-5">
      <div class="row row-grid align-items-center">
        <div class="col px-0">
          
          <div class="mt-3 mb-3">
            <div class="row">
              <div class="col-12 create-sticket">
                <div class="card shadow shadow-lg--hover">
                  <div class="d-flex justify-content-center">
                    <h5 class="display-3">Thêm vé mới </h5>
                  </div>
                  <div class="card-body" [formGroup]="ticketForm">
                    <div class="form-group">
                      <label for="">*Tên vé</label>
                      <input type="text" id="" class="form-control"  [formControlName]="'name'" placeholder="Tên của vé" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(ticketForm,'name')">
                            <p class="text-danger"> Nhập vào tên vé</p>
                        </ng-container>
                      </div>
                    </div>  
                    <div class="form-group">
                      <label for="">*Hạn sử dụng (tháng)</label>
                      <input type="number" id="" [formControlName]="'monthDuration'" class="form-control" placeholder="Thời hạn vé (vd: 1)" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(ticketForm,'monthDuration')">
                            <p class="text-danger"> Nhập vào hạn sử dụng của vé</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Giá vé</label>
                      <input type="text" currencyInput [formControlName]="'price'" id="" class="form-control" placeholder="Nhập giá vé" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(ticketForm,'price')">
                            <p class="text-danger">Nhập vào giá vé</p>
                        </ng-container>
                      </div>
                    </div>    
                    <div class="form-group">
                      <label for="">Mô tả về vé</label>
                      <input type="text" name="" id="" class="form-control" [formControlName]="'description'" placeholder="Mô tả của vé" aria-describedby="helpId">
                    </div> 
                    <div class="form-group">
                      <label for="">*Cơ sở</label>
                        <select class="form-control" [formControlName]="'facility'" name="" id="">
                          <option *ngFor="let facility of facilityList" [value]="facility.id">
                            {{facility.name}}
                          </option>
                        </select>
                        <div class="regexTel">
                          <ng-container *ngIf="validateForm(ticketForm,'facility')">
                              <p class="text-danger">Chọn cơ sở</p>
                          </ng-container>
                        </div>
                    </div> 

                    <!-- Phần text -->
                    
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" (click)="saveForm()">Lưu</button>
                    <button class="btn btn-outline" (click)="location.back()">Quay lại</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <!-- <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>

  <!-- <div class="elfsight-app-2bb20d90-b4b8-4f52-b90a-a2fc00eac7d1" data-elfsight-app-lazy></div> -->

</main>