<main>
  <section class="section">
    <div class="container-fluid mt-5">
      <div class="filter-container">
        <div class="input-group radio-column">
          <div class="form-group">
            <h5 for="facility" class="title-filter">Cơ sở</h5>
            <select (change)="onFacilityChange($event.target.value)" class="form-control facility-select" name="facility" id="facility">
              <option [value]="'all'" >Tất cả</option>
              <option *ngFor="let facility of facilities" [value]="facility.id">{{ facility.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow" style="box-shadow: none !important;">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-10">
                  <h3 class="mb-0">Vé</h3>
                </div>
              </div>
            </div>
            <div style="padding-top: 1rem; background-color: #eff0f1" *ngIf="tickets">
              <div class="products-container">
                <div class="product-row" *ngFor="let row of tickets">
                  <div class="product-card" *ngFor="let ticket of row" (click)="handleCardClick(ticket)">
                    <img class="card-image" [src]="'assets/img/TheGym01.jpg'">
                    <div class="product-meta">{{ticket.name}}</div>
                    <div class="product-meta price d-flex justify-content-between align-items-center"><span>{{ticket.price | currency:'VND':'symbol':null:'vi-VN'}}</span> <span style="font-size: 12px;">{{ticket.monthDuration}} tháng</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>