<main>


  <section class="section">
    <div class="container-product">
      <div class="row row-grid align-items-center">
        <div class="col px-0">
          <div class="mt-3">
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card-body">
                  <div class="image-section mb-3 text-center">
                    <img *ngIf="productByCode && productByCode.imagePath" [src]="productByCode.imagePath" alt="Product" class="image-product">
                    <p class="status-product">{{ getStatusStr(productByCode.status)  }}</p>
                  </div>
                  <div class="text-section" style="margin-right: 28px;">
                    <h4>{{productByCode.name}}</h4>
                    <div class="d-flex align-items-center content-view">
                      <label>Danh mục: {{productByCode.category}}</label>
                      <label>Nhà cung cấp: {{productByCode.supplier}}</label>
                      <label>Đang còn: {{productByCode.stockQuantity}}</label>
                    </div>
                   
                    <div class="form-group">
                      <label for="facility">Cơ sở</label>
                      <select class="form-control" name="facility" id="facility" (change)="onFacilityChange($event.target.value)">
                        <option *ngFor="let facility of facilities" [value]="facility.id" [selected]="facility.id === facilities[0].id" >{{ facility.name }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="quantity-buy">Số lượng mua</label>
                      <input type="number"
                        class="form-control" name="" min="1" [(ngModel)]="quantity" [value]="1" id="quantity-buy" aria-describedby="helpId" placeholder="">
                        <div class="regexTel">
                          <ng-container *ngIf="!quantity || +quantity <= 0 || +quantity > productByCode.stockQuantity">
                              <p class="text-danger" style="font-size: 13px;">Số lượng không hợp lệ</p>
                          </ng-container>
                        </div>
                      </div>
                    <div class="form-group d-flex justify-content-between" style=" align-items: baseline;">
                      <p class="price-product">{{productByCode.price | currency:'VND':'symbol':null:'vi-VN'}}</p>
                      <button class="btn btn-primary" type="button" (click)="handleAddToCart()">Thêm vào giỏ hàng</button>
                    </div>
  
                    <!-- <div class="text-center" style="margin-top: 2rem; display: flex; justify-content: center;">
                      <button type="button" class="btn btn-color-1" (click)="save()">Save Product</button>
                      <button type="button" class="btn btn-color-2" (click)="reset()">Reset</button>
                    </div> -->
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description-product">
        <p style="margin-bottom: 0; font-weight: 600;">{{!productByCode.description || productByCode.description== '' ? 'Chưa cập nhật mô tả sản phẩm.' : productByCode.description}}</p>
      </div>
    </div>
    <!-- SVG separator -->
    <!-- <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>

  <!-- <div class="elfsight-app-2bb20d90-b4b8-4f52-b90a-a2fc00eac7d1" data-elfsight-app-lazy></div> -->

</main>