<main>
  <section class="section">
    <div class="container-fluid mt-5">
      <!-- Table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-10">
                  <h3 class="mb-0">Danh sách lớp</h3>
                </div>
              </div>  
              <div class="col-12 text-right d-flex align-items-center justify-content-between pl-0" >
                <div class="form-group mb-0">
                  <!-- <select class="form-control" name="" id="" (change)="handleSelectFacility($event)">
                    <option [value]="'all'" [selected]="facilitySelect == null">Tất cả</option>
                    <option *ngFor="let facility of facilityList" [value]="facility.id" [selected]="facility.id == +facilitySelect">
                      {{facility.name}}
                    </option>
                  </select> -->
                </div>
                <button style="font-size: 13px;" type="button mt-0" class="btn btn-primary mt-1" (click)="add()">+
                  Thêm lớp
                </button>
              </div>
            </div>
            <div class="table-responsive" style="min-height: 300px;">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Tên lớp</th>
                    <th scope="col">Gói</th>
                    <th scope="col">Huấn luyện viên</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Số buổi còn lại</th>
                    <th scope="col">Thứ</th>
                    <th scope="col">Tác vụ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of classes" (click)="handleViewSchedule(c)">
                    <td>{{c.name}}</td>
                    <td>{{c.apackage.name}}</td>
                    <td>{{c.pt.fullName}}</td>
                    <td [ngClass]="c.status === 'ACTIVE' ? 'text-success' : 'text-danger'">
                      {{c.status === 'ACTIVE' ? 'Hoạt động' : 'Kết thúc'}}
                    </td>
                    <td>{{c.remainSlot}}</td>
                    <td>{{getDayOfWeeksStr(c.id)}}</td>
                    <td class="text-center">
                     <div class="button-action">
                        <div>
                          <button class="btn btn-primary mr-2" aria-label="Update" (click)="update(c.id)">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                        </div>
                        <div>
                          <button *ngIf="c.status === true" class="btn btn-danger" aria-label="Deactivate" (click)="deactivate(c.id)">
                            <i class="fa-solid fa-trash-can"></i>
                          </button>
                          <button *ngIf="c.status === false" class="btn btn-success" aria-label="Active" (click)="active(c.id)">
                            <i class="fa-solid fa-check"></i>
                          </button>
                        </div>
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
