<main>
  <section class="background-fitness">
    <div class="container"> 
      <div class="row column-center">
        <div class="col-lg-5 setting-auth-page">
          <div class="text-center text-muted mb-4">
          <div class="title-page">Đăng Ký</div>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="signUp()" class="container mt-5">
            <div class="form-group">
              <label for="fullName" class="col-form-label">Họ và tên</label>
              <input type="text" class="form-control" placeholder="Tên của bạn" id="fullName" formControlName="fullName">
              <div class="regexTel">
                <ng-container *ngIf="validateForm(registerForm,'fullName')">
                    <p class="text-danger"> Nhập vào họ tên</p>
                </ng-container>
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="col-form-label">Tên đăng nhập</label>
            
                <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" formControlName="username">
                <div class="regexTel">
                  <ng-container *ngIf="validateForm(registerForm,'username')">
                      <p class="text-danger"> Nhập vào tên đăng nhập</p>
                  </ng-container>
                </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email</label>
            
                <input type="email" class="form-control" id="email" placeholder="Email của bạn" formControlName="email">
                <div class="regexTel">
                  <ng-container *ngIf="regexEmail(registerForm, 'email')">
                      <p class="text-danger"> Email không hợp lệ</p>
                  </ng-container>
                  <ng-container *ngIf="validateForm(registerForm,'email') && registerForm.controls.email.errors?.required">
                      <p class="text-danger">Nhập vào email</p>
                  </ng-container>
                </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Mật khẩu</label>
            
                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" formControlName="password">
                <div class="regexTel">
                  <ng-container *ngIf="validateForm(registerForm,'password')">
                      <p class="text-danger"> Nhập vào mật khẩu</p>
                  </ng-container>
                </div>
            </div>
            <div class="form-group">
              <label for="phoneNumber" class="col-form-label">Số điện thoại</label>
            
                <input type="tel" class="form-control" id="phoneNumber" placeholder="Số điện thoại" formControlName="phoneNumber">
                <div class="regexTel">
                  <ng-container *ngIf="validateForm(registerForm,'phoneNumber')">
                      <p class="text-danger"> Nhập vào số điện thoại</p>
                  </ng-container>
                </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Giới tính</label>
              <div class="d-flex gender">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="male" [value]="true" formControlName="gender">
                  <label class="form-check-label" for="male">Nam</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="female" [value]="false" formControlName="gender">
                  <label class="form-check-label" for="female">Nữ</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Địa chỉ</label>
              <textarea class="form-control" id="address" rows="3" placeholder="Địa chỉ của bạn" formControlName="address"></textarea>
              <div class="regexTel">
                <ng-container *ngIf="validateForm(registerForm,'address')">
                    <p class="text-danger"> Nhập vào địa chỉ</p>
                </ng-container>
              </div>
            </div>
            <div class="form-group">
              <label for="dob" class="col-form-label">Ngày sinh</label>
            
                <input type="date" class="form-control" id="dob" placeholder="dd/mm/yyyy" formControlName="dob">
                <div class="regexTel">
                  <ng-container *ngIf="validateForm(registerForm,'dob')">
                      <p class="text-danger"> Nhập vào ngày sinh</p>
                  </ng-container>
                </div>
            </div>
            <div class="row mt-2" style="margin-bottom: 1rem;">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister" (click)="checkCheckBoxvalue()">
                    Tôi đồng ý với
                    <a href="javascript:void(0)" class="text-red-600">
                      Điều khoản </a>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary col-12 mb-5">Đăng kí</button>
            </div>
          </form>
          
          
        </div>
      </div>
    </div>
  </section>
</main>