<!-- Màn hình customer -->
<div *ngIf="!managerNavbar">
    <app-navbar-customer *ngIf="!managerNavbar" [accountUser]="account"></app-navbar-customer>
    <router-outlet *ngIf="!managerNavbar"></router-outlet>
    <app-footer *ngIf="!managerNavbar"></app-footer>
</div>

<!-- Màn hình quản lý -->
<div *ngIf="managerNavbar">
    <app-sidebar *ngIf="managerNavbar" [managerNavbar]="managerNavbar" [username]="username"></app-sidebar>
    <app-navbar *ngIf="managerNavbar" [managerNavbar]="managerNavbar" [username]="username"></app-navbar>
    <div class="main-content" *ngIf="managerNavbar">
        <h2 class="h4 mb-0 text-uppercase d-none d-lg-inline-block container-fluid">{{getTitle()}}</h2>
        
        <router-outlet *ngIf="managerNavbar"></router-outlet>
    </div>
</div>