<main>


  <section class="section">
    <div class="px-5">
      <div class="row row-grid align-items-center">
        <div class="col px-0">
          
          <div class="mt-3 mb-3">
            <div class="row">
              <div class="col-12 create-sticket">
                <div class="card shadow shadow-lg--hover">
                  <div class="d-flex justify-content-center">
                    <h5 class="display-3">Thêm tài khoản</h5>
                  </div>
                  <div class="card-body" [formGroup]="userForm">
                    <div class="form-group">
                      <label for="">*Họ tên</label>
                      <input type="text" id="" class="form-control"  [formControlName]="'fullName'" placeholder="Họ tên" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'fullName')">
                            <p class="text-danger"> Nhập họ tên</p>
                        </ng-container>
                      </div>
                    </div>  
                    <div class="form-group">
                      <label for="">*Tên đăng nhập</label>
                      <input type="text" id="" [formControlName]="'username'" class="form-control" placeholder="Tên đăng nhập" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'username')">
                            <p class="text-danger"> Nhập tên đăng nhập</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Giới tính</label><br>
                      <input type="radio" id="maleRadio" value="true" [formControlName]="'gender'" aria-describedby="helpId">
                      <label class="form-check-label" for="maleRadio">Nam</label>
                      <input type="radio" id="femaleRdio" value="false" [formControlName]="'gender'" aria-describedby="helpId">
                      <label class="form-check-label" for="femaleRdio">Nữ</label>
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'gender')">
                            <p class="text-danger">Chọn giới tính</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Ngày sinh</label>
                      <input type="date" [formControlName]="'dob'" id="" class="form-control" placeholder="Nhập ngày sinh" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'dob')">
                            <p class="text-danger">Nhập ngày sinh</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Email</label>
                      <input type="text" [formControlName]="'email'" id="" class="form-control" placeholder="Nhập email" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'email')">
                            <p class="text-danger">Nhập email</p>
                        </ng-container>
                      </div>
                    </div> 
                    <div class="form-group">
                      <label for="">*Mật khẩu</label>
                      <input type="password" [formControlName]="'password'" id="" class="form-control" placeholder="Nhập mật khẩu" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'password')">
                            <p class="text-danger">Nhập mật khẩu</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Số điện thoại</label>
                      <input type="text" [formControlName]="'phoneNumber'" id="" class="form-control" placeholder="Nhập số điện thoại" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'phoneNumber')">
                            <p class="text-danger">Nhập số điện thoại</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Địa chỉ</label>
                      <input type="text" [formControlName]="'address'" id="" class="form-control" placeholder="Nhập địa chỉ" aria-describedby="helpId">
                      <div class="regexTel">
                        <ng-container *ngIf="validateForm(userForm,'address')">
                            <p class="text-danger">Nhập địa chỉ</p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">*Cơ sở</label>
                        <select class="form-control" [formControlName]="'facilityId'" name="" id="">
                          <option *ngFor="let facility of facilities" [value]="facility.id">
                            {{facility.name}}
                          </option>
                        </select>
                        <div class="regexTel">
                          <ng-container *ngIf="validateForm(userForm,'facilityId')">
                              <p class="text-danger">Chọn cơ sở</p>
                          </ng-container>
                        </div>
                    </div> 
                    <div class="form-group">
                      <label for="">*Quyền</label>
                        <select class="form-control" [formControlName]="'roleId'" name="" id="">
                          <option [value]="2">Quản lý</option>
                          <option [value]="4">Lễ tân</option>
                          <option [value]="5">Huấn luyện viên</option>
                        </select>
                        <div class="regexTel">
                          <ng-container *ngIf="validateForm(userForm,'roleId')">
                              <p class="text-danger">Chọn quyền</p>
                          </ng-container>
                        </div>
                    </div> 

                    <!-- Phần text -->
                    
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" (click)="saveForm()">Lưu</button>
                    <button class="btn btn-outline" (click)="location.back()">Quay lại</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>