<main>
  <section class="section">
    <div class="container-fluid mt-5">
      <!-- Table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow" *ngIf="listTickets.length > 0 ">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-10">
                  <h3 class="mb-0">Danh sách vé </h3>
                </div>
                <div class="col-2 text-right">
                  <button style="font-size: 13px;" type="button" class="btn btn-primary mt-1" (click)="add()">+
                    Thêm vé
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="min-height: 300px;">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Mã vé</th>
                    <th scope="col">Tên vé</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Tác vụ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ticket of listTickets">
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ticket.code}}</span>
                        </div>
                      </div>
                    </th>
                    
                    <td>
                      {{ticket.name}}
                    </td>
                 
                    <td>
                      {{ticket.price}}
                    </td>
                    <td>
                      {{ticket.createdBy}}
                    </td>
                    <td>
                      {{ticket.status}}
                    </td>
                    <td class="text-center">
                      <div class="button-action">
                        <div>
                          <button class="button-edit" aria-label="Delete" (click)="delete(ticket.productId)">
                            <span class="icon-container">
                              <img src="assets/img/pencil-write.png" class="" style="width: 20px; height: 20px;"
                                alt=" ...">
                            </span>
                          </button>
                        </div>
                        <div>
                          <button class="button-delete" aria-label="Edit" (click)="edit(ticket.productId)">
                            <span class="icon-container">
                              <img src="assets/img/bin.png" class="" style="width: 20px; height: 20px;" alt=" ...">
                            </span>
                          </button>
                        </div>
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>