<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section">
      <div class="section-intro">
        <div class="container py-lg-md d-flex mb-10 " style="background: #f0ecec; gap: 15px; height: 500px;
        /* padding: 200px; */
        text-align: center;
        align-items: center;
        justify-content: center;
        
        ">
           <div class="order-success">
             <i class="fa-solid fa-check" style="font-size: 100px;"></i>
              <h1>Thanh toán thành công</h1>
           </div>
        </div>
      </div>
    </section>
  </div>
</main>